<div class="row">
    <div class="col-12" *ngIf="personaje.id">
        <div class="card" style="width: 18rem;">
            <img src="{{ personaje.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title"> {{ personaje.name }} </h2>
                <ul class="card-text">
                    <li>Status: {{ personaje.status }}</li>
                    <li>Specie: {{ personaje.species }} </li>
                    <li>Type: {{ personaje.type }} </li>
                    <li>Gender: {{ personaje.gender }} </li>
                    <li>Date: {{ personaje.created | date:'short' }} </li>
                    <!-- <li>Date: {{ personaje.episode }} </li> -->
                </ul>
            </div>
        </div>
    </div>

</div>